@model IEnumerable<WebDT.Models.product>
<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <div class="single-product-widget">
                    <h2 class="product-wid-title">Bán chạy nhất</h2>
                    <a href="" class="wid-view-more">Xem tất cả</a>
                    <div class="single-wid-product">
                        @foreach (var i in Model.Take(3))
                         {
                            <a href="single-product.html"><img src="~/Content/img/@i.img" alt="" class="product-thumb"></a>
                            <h2><a href="single-product.html">@i.name</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>400.000 VNĐ</ins> <del>425.000 VNĐ</del>
                            </div>
                         }
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Đã xem gần đây</h2>
                    <a href="#" class="wid-view-more">Xem tất cả</a>
                    <div class="single-wid-product">
                        @foreach (var i in Model.Take(3))
                        {
                            <a href="single-product.html"><img src="~/Content/img/@i.img" alt="" class="product-thumb"></a>
                            <h2><a href="single-product.html">@i.name</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>400.000 VNĐ</ins> <del>425.000 VNĐ</del>
                            </div>
                         }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Sản phẩm mới</h2>
                        <a href="#" class="wid-view-more">Xem tất cả</a>
                        <div class="single-wid-product">
                            @foreach (var i in Model.Take(3))
                            {
                                <a href="single-product.html"><img src="~/Content/img/@i.img" alt="" class="product-thumb"></a>
                                <h2><a href="single-product.html">@i.name</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>400.000 VNĐ</ins> <del>425.000 VNĐ</del>
                                </div>
                            }
                        </div>
                        
                    </div>
                </div>
           
        </div>
    </div>
</div>

