
@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}
<h2>@Model.name</h2> 
    <div class="container">
        <div class="col-lg-12">
            @Html.Action("GetProduct", "Product", new { id = Model.id })
        </div>
</div>