@model List<WebDT.Models.CartItem>
<div class="col-sm-6" style="width: 15%; float: right">
    <div class="shopping-item">
        <a href="/gio-hang">Giỏ hàng<i class="fa fa-shopping-cart"></i> <span class="product-count">@Model.Count</span></a>

     </div>
</div>
<!--string.Format("{0:0,0 VNĐ}",Model.Sum(m => (m.Product.price * m.Quantity))) -->

 