
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="container">
    <div class="col-lg-12">
        <h2 class="section-title">Giới thiệu</h2>
        @{ Html.RenderAction("getGioiThieu", "Default");}
    </div>
</div>
