@{
    ViewBag.Title = "Gửi Liên hệ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="container">
    <div class="col-lg-12 alert alert-success text-center">
        <span>Bạn đã gửi thông tin liên hệ thành công.</span>
    </div>
    <div class="col-lg-5"></div>
    <div class="col-lg-6">
        <a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
    </div>
</div>



