
@{
    ViewBag.Title = "Bạn không có quyền truy cập trang này";
    Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
}

<div class="alert alert-danger" >
    Bạn không có quyền truy cập!!
</div>

