
@{
    Layout = null;
}
@model IEnumerable<WebDT.Models.EF.Product>

    <div class="maincontent-area" id="spmoi">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Sản phẩm mới ra mắt</h2>
                        <div class="product-carousel" style="max-height: 400px;">
                            @foreach (var i in Model)
                            {
                                
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="~/Content/img/@i.img" alt="">
                                            <div class="product-hover">
                                                <a href="/them-gio-hang?productId=@i.id&quantity=1" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                                <a href="/san-pham/@i.meta/@i.id" class="view-details-link"><i class="fa fa-link"></i> Thông tin</a>
                                            </div>
                                        </div>
                                        <h2><a href="/san-pham/@i.meta/@i.id">@i.name</a></h2>
                                        <div class="product-carousel-price">
                                            @if (i.newprice != null)
                                            {
                                                <ins> @string.Format("{0:0,0đ}", i.newprice) </ins>
                                                <del>@string.Format("{0:0,0đ}", i.price)</del>
                                            }
                                            else
                                            {
                                                <ins> @string.Format("{0:0,0đ}", i.price) </ins>
                                            }

                                        </div>
                                    </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
